wm.EDIINT.payloadDir=/b2bdir/demo/gold
wm.EDIINT.EDIINTIDMatch=true
wm.EDIINT.processPayloadIfMDNNotSent=false
wm.EDIINT.allowProcessingOfDuplicateMDN=false
wm.EDIINT.AS2RestartRetryCount=5
wm.EDIINT.enableInSitu=false
wm.EDIINT.SMTPHost=smtp.company.com
wm.EDIINT.receiveExecuteACL=
wm.EDIINT.persistSentAttachments=True
wm.EDIINT.alwaysUseUserProcessPayloadService=true
wm.EDIINT.waitInSeconds=30
wm.EDIINT.version=8.2.1
wm.EDIINT.AS2RestartRetryIntervalInSeconds=2
wm.EDIINT.AS2RestartTempFilePath=packages/WmEDIINT/pub/as2restart_transactions
wm.EDIINT.submitPayload=true
wm.EDIINT.receiverURLs=/invoke/wm.EDIINT/receive
wm.EDIINT.AS2RestartEnabled=false
wm.EDIINT.userProcessPayloadService=STEDIINT.util\:processPayload
wm.EDIINT.persistInTNAndFileSystem=